<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="logo-placeholder ion-text-center">
      <ion-icon name="car-sport-outline" size="large" color="primary"></ion-icon>
      <h1>PMS User App</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        Please enter a valid email address.
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password must be at least 6 characters.
      </div>

      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">
        Login
      </ion-button>
    </form>

    <div class="divider ion-text-center ion-margin-vertical">
      <span>OR</span>
    </div>

    <ion-button expand="block" color="danger" (click)="onGoogleLogin()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Login with Google
    </ion-button>

    <div class="register-link ion-text-center ion-margin-top">
      <p>New user? <ion-text color="primary" (click)="goToRegister()" class="clickable">Register here</ion-text></p>
    </div>
    <div class="ion-text-center ion-margin-top">
      <p style="color: lightgray">Test Login : user1@email.com / Test@1234 </p>
    </div>
  </div>
</ion-content>
