<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Vehicles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
