<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input label="Email" type="email" placeholder="Enter Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password" type="password" placeholder="Enter Password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Select Gate" [(ngModel)]="selectedGateId">
        <ion-select-option *ngFor="let gate of gates" [value]="gate.Id">{{ gate.GateName }} ({{gate.GateType}})</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="login()">Login</ion-button>
  </div>
</ion-content>
