<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehicle Scanning - {{ gateName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vehicle Scanning</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Web Scanner UI -->
    <div *ngIf="isWeb">
      <ion-button expand="block" (click)="startWebScan()" *ngIf="!isScanning && !imageData">
        Start Web Camera
      </ion-button>

      <div *ngIf="isScanning">
        <zxing-scanner  #scanner (scanSuccess)="handleScanSuccess($event)"></zxing-scanner>
        <ion-button expand="block" (click)="captureFrame()" color="secondary">
          Capture Frame
        </ion-button>
      </div>
    </div>

    <div *ngIf="(gateName === undefined || gateName ===   '')">
      <p>Gate not selected</p> 
    </div>

    <!-- Mobile Camera UI -->
    <div *ngIf="!isWeb">
      <ion-button expand="block" (click)="captureImageWithCapacitor()">
        Use Camera
      </ion-button>
    </div>

    <!-- Common UI for Image Preview and Upload -->
    <div *ngIf="imageData" class="preview-container">
      <img [src]="imageData" alt="Vehicle scan preview" title="Vehicle scan preview" />
      <ion-button expand="block" color="success" (click)="uploadImage()">
        Upload and Process
      </ion-button>
    </div>
  </div>
</ion-content>
